<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xcf.admin.couldclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyContext.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_yun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_yun"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.Main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Login.loginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".Activitys.Answer.AnswerActivity" />
        <activity android:name=".Activitys.Live.LiveActivity" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activitys.Exam.ExamRoomActivity" />
        <activity android:name=".Activitys.Login.RegisterActivity" />
        <activity android:name=".Activitys.Login.FinishUserActivity" />
        <activity
            android:name=".Activitys.Login.PersonActivity"
            android:label="@string/title_activity_person"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Login.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>